// Change variables to unification
$header-title-color: #454c44;
$header-button-and-title-active-color: #0e0e0e;
$border-input-color: #b3b5b4;
$button-back-color: #f3c8ca;
$slider-title-color: #5d7570;
$slider-title-color-second: #854548;
$button-title-color: #f4f6f3;
$consultation-title-color: #252a26;
$consultation-back-color: #d0d9d7;
$history-back-color: #e3e3e3;
// Change variables to unification

$primary-rose: #F3C8CA;
$primary-green: #5D7570;

$secondary-rose: #F5EDEF;
$secondary-green: #D0D9D7;

$additional-brown: #854548;
$background: #FFFFFF;

$gray-10: #FDFDFD;
$gray-20: #F4F6F3;
$gray-30: #E3E3E3;
$gray-40: #D4D4D4;
$gray-50: #B3B5B4;
$gray-60: #959595;
$gray-70: #8C8284;
$gray-80: #454C44;
$gray-90: #252A26;
$gray-100: #0E0E0E;

$system-error: #F44942;
$system-warning: #FFA81E;
$system-succes: #22BF45;
$system-info: #2153D9;
