@import '../styles/utils/typography';
@import '../styles/utils/mixins';

.auth {
  background-color: #252A26;
  @include onTablet {
    padding: 32px 24px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/images/auth_beg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  @include onDesktop {
    padding: 32px 56px;
    width: 100%;
    min-height: 100vh;
    background-image: url('../assets/images/auth_beg.png');
    background-repeat: no-repeat;
    background-size: cover;
  }

  &__header {
    width: min-content;

    @include onTablet {
      margin-bottom: 85px;
    }

    @include onDesktop {
      margin-bottom: 44px;
    }

    &-logo {
      display: none;
  
      @include onNoPhone {
        display: block;
        width: 200px;
        height: 48px;
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @include onTablet {

  }

  @include onDesktop {

  }

  &__form {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    padding: 8px 16px;
    background-color: #252A26;

    @include onTablet {
      justify-content: space-between;
      max-width: 320px;
      height: 580px;
      padding: 32px 16px;
      border-radius: 8px;
    }

    @include onDesktop {
      justify-content: space-between;
      max-width: 430px;
      height: 650px;
      padding: 40px;
      border-radius: 8px;
    }

    &-title {
      @extend %poppins-500;
      margin-bottom: 5px;
      color: #FDFDFD;
      font-size: 22px;
      line-height: 150%;
      text-align: center;

      @include onTablet {
        margin-bottom: 16px;
        font-size: 24px;
        line-height: 145%;
      }
    
      @include onDesktop {
        margin-bottom: 24px;
        font-size: 40px;
        line-height: 100%;
      }
    }

    &-label {
      @extend %poppins-400;
      margin-bottom: 4px;
      color: #D4D4D4;
      font-size: 12px;
      line-height: 150%;

      &-check {
        @extend %poppins-400;
        margin-bottom: 4px;
        color: #D4D4D4;
        font-size: 14px;
        line-height: 150%;
        text-align: left;

        &--err {
          color: #F44942;
        }
      }

      &--err {
        color: #F44942;
      }
    }

    &-border {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 16px;
      margin-bottom: 4px;
      width: 100%;
      height: 48px;
      box-sizing: border-box;
      border: 1px solid #959595;
      border-radius: 8px;

      &--err {
        border: 1px solid #F44942;
      }
    }

    &-input {
      @extend %poppins-400;
      width: 100%;
      height: 100%;
      color: #959595;
      font-size: 16px;
      line-height: 150%;
      letter-spacing: 0%;
      background: none;
      outline: none;
      border: none;

      &--err {
        color: #F44942;
      }
    }

    &-message {
      width: 100%;
      height: 24px;
      margin-bottom: 4px;
    }

    &-error {
      display: flex;
      align-items: center;
      padding: 0 16px;
      gap: 10px;

      &-mark {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 20px;
        height: 20px;
        border: 1.5px solid #F44942;
        border-radius: 50%;
        color: #F44942;
        box-sizing: border-box
      }

      &-text {
        @extend %poppins-400;
        font-size: 12px;
        line-height: 150%;
        color: #F44942;
      }
    }

    &-visible {
      display: flex;
      align-items: center;
      border: none;
      outline: none;
      background: none;
      cursor: pointer;
    }

    &-question {
      margin-top: 10px;
      @extend %poppins-400;
      font-size: 16px;
      line-height: 150%;
      color: #FDFDFD;

      @include onNoPhone {
        margin-top: 16px;
      }
    }

    &-logbutton {
      @extend %poppins-600;
      width: 100%;
      height: 48px;
      margin-bottom: 4px;
      margin-top: 10px;
      font-size: 16px;
      line-height: 150%;
      background-color: #F3C8CA;
      color: #252A26;
      border-radius: 8px;
      border: none;
      box-sizing: border-box;
      cursor: pointer;
      transition: background-color 0.3s ease, color 0.3s ease;
    
      @include onDesktop {
        margin-top: 24px;
      }

      @include onTablet {
        margin-top: 16px;
      }

      &:disabled {
        background-color: #F5EDEF;
        color: #B3B5B4;
        transition: background-color 0.3s ease, color 0.3s ease;
    
        &:hover {
          background-color: #F5EDEF;
          color: #B3B5B4;
        }
      }
    
      &:hover {
        background-color: #854548;
        color: #FDFDFD;
      }
    }

    &-checkcontainer {
      display: flex;
      align-items: start;
      gap: 10px;
      margin-top: 10px;
    }

    &-check {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 20px;
      height: 20px;
      width: 100%;
      border: none;
      outline: none;
      background-color: #B3B5B4;
      border-radius: 4px;
      box-sizing: border-box;
    }

    &-decor {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-bottom: 10px;

      @include onNoPhone {
        margin-bottom: 16px;
      }

      &-line {
        height: 1px;
        width: 50%;
        background-color: #D4D4D4;
      }

      &-text {
        @extend %poppins-400;
        margin: 0 8px;
        font-size: 14px;
        line-height: 150%;
        color: #D4D4D4;
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include onNoPhone {
        flex-direction: row;
        gap: 16px;
      }
    }
  
    &-button {
      @extend %poppins-600;
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      font-size: 16px;
      line-height: 150%;
      background: none;
      color: #FDFDFD;
      border-radius: 8px;
      border: 1px solid #F3C8CA;
      box-sizing: border-box;
      cursor: pointer;
      transition: border-color 0.3s ease, color 0.3s ease;
    
      &:hover {
        border-color: #854548;
      }
    }

    &-box {
      display: flex;
      justify-content: center;
      gap: 8px;
      margin-top: 6px;

      &-text {
        @extend %poppins-400;
        font-size: 16px;
        line-height: 150%;
        color: #D4D4D4;
      }
    }
  }

  &__info {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #F3C8CACC;
    border-radius: 0 8px 8px 0;
    box-sizing: border-box;

    @include onTablet {
      display: flex;
      padding: 16px 32px;
      max-width: 288px;
      height: 378px;
    }

    @include onDesktop {
      display: flex;
      padding: 40px;
      max-width: 368px;
      height: 426px;
    }

    &-text {
      color: #0E0E0E;
    }

    &-h3 {
      @extend %poppins-500;
      margin-bottom: 4px;

      @include onTablet {
        font-size: 24px;
        line-height: 145%;
      }
  
      @include onDesktop {
        font-size: 32px;
        line-height: 130%;
      }
    }

    &-h4 {
      @extend %poppins-500;
      margin-bottom: 16px;
      font-size: 24px;
      line-height: 145%;
      text-align: right;
    }

    &-p {
      @extend %poppins-400;
      font-size: 16px;
      line-height: 150%;
    }

    &-h5 {
      @extend %poppins-500;
      font-size: 22px;
      line-height: 150%;

      @include onTablet {
        font-size: 18px;
      }
  
      @include onDesktop {
        font-size: 22px;
      }
    }
  }
}
