@import './variables';

@font-face {
  font-family: Poppins-Regular;
  src: url(../../../src/fonts/Poppins-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins-Medium;
  src: url(../../../src/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins-Semibold;
  src: url(../../../src/fonts/Poppins-SemiBold.ttf);
  font-weight: 700;
}

%poppins-400 {
  font-family: Poppins-Regular, sans-serif;
  font-weight: 400;
}

%poppins-500 {
  font-family: Poppins-Medium, sans-serif;
  font-weight: 500;
}

%poppins-600 {
  font-family: Poppins-Regular, sans-serif;
  font-weight: 600;
}

%poppins-700 {
  font-family: Poppins-Semibold, sans-serif;
  font-weight: 700;
}

.title {
  @extend %poppins-500;
  font-size: 48px;
  line-height: 100%;

  &--H2 {
    font-size: 40px;
    line-height: 100%;
  }

  &--H3 {
    font-size: 32px;
    line-height: 130%
  }

  &--H4 {
    font-size: 24px;
    line-height: 145%
  }

  &--H5 {
    font-size: 22px;
    line-height: 150%
  }

  &--H6 {
    font-size: 18px;
    line-height: 150%
  }

  &--H7 {
    font-size: 16px;
    line-height: 150%
  }
}

.body-text {
  @extend %poppins-400;
  font-size: 16px;
  line-height: 150%;

  &--secondary {
    font-size: 14px;
  }

  &--small-text {
    font-size: 12px;
  }

}