$header-title-color: #454c44;
$header-button-and-title-active-color: #0e0e0e;
$border-input-color: #b3b5b4;
$button-back-color: #f3c8ca;
$slider-title-color: #5d7570;
$slider-title-and-hover-color-second: #854548;
$button-title-color: #f4f6f3;
$consultation-title-color: #252a26;
$consultation-back-color: #d0d9d7;
$history-back-color: #e3e3e3;