@import '../../styles/typography';
@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 56px 0;

  @include onPhone {
    margin: 8px 16px 0;
  }

  @include onTablet {
    margin: 16px 24px 0;
  }

  

  &__icon {
    &__menu {
      display: none;
      width: 24px;
      height: 24px;
      cursor: pointer;

      @include onPhone {
        display: block;
      }
    }
  }

  &-avatar {
    display: none;

    @include onPhone {
      display: block;
    }

  }

  &__menu {
    position: absolute;
    top: 64px;
    left: 16px;
    // right: 16px;
    background-color: #fff;
    min-width: 289px;
    // max-width: 639px;
    width: calc(100% - 36px);
    height: 264px;
    margin-right: 20px;
    border-radius: 6px;

    &__list {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 8px;
      padding-top: 16px;


    }

    &__item {
      display: flex;
      align-items: center;
      gap: 6px;
      @extend %poppins-400;
      font-size: 16px;
      line-height: 150%;
      color: #454c44;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-left: 10px;
      border: 1px solid #454c44;
      border-radius: 8px;
      text-align: start;
      text-decoration: none;
    }

    &__link {
      text-decoration: none;
      color: #454c44;
    }

    &-logout {
      position: relative;
      top: 16px;
      @extend %poppins-400;
      font-size: 16px;
      line-height: 150%;
      color: #454c44;
      text-decoration: none;
      padding-top: 16px;
    }
  }

  &-tablet {
    &__menu {
      @extend %poppins-400;
      font-size: 16px;
      line-height: 150%;
      text-align: start;

      &-container {
        display: none;

        @include onTablet {
          display: block;
        }
      }

      &__search {
        // @extend %poppins-400;
        // color: #d4d4d4;
        // line-height: 150%;
        // font-size: 12px;
        width: 355px;
        height: 40px;
        border-radius: 32px;
        border: 1px solid #b3b5b4;
        padding-left: 16px;

        &::placeholder {
          @extend %poppins-400;
          color: #d4d4d4;
          line-height: 150%;
          font-size: 12px;
        }
      }

      &::after {
        content: url('../../../public/images/menu-arrow-img.svg');
        position: relative;
        top: 7px;
        left: 5px;
        width: 12px;
        height: 7px;
      }

      &__list {
        padding: 16px;
        margin: 0;
        text-decoration: none;
        list-style: none;
        text-align: start;
        display: flex;
        flex-direction: column;
        gap: 16px;
        width: 387px;
        box-shadow: -3px 0 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        position: absolute;
        z-index: 1000;
        top: 50px;
        left: 210px;
        background-color: #fff;

      }

      &__item {
        @extend %poppins-400;
        line-height: 150%;
        font-size: 16px;
        color: #959595;

        &-logo {
          &__main-container {
            display: flex;
            justify-content: space-between;
          }

          &-container {
            display: flex;
            gap: 8px;
          }
        }
      }
    }
  }


  &__item {
    @extend %poppins-400;
    font-size: 16px;
    line-height: 150%;
    color: $header-title-color;
  }

  &__link {
    cursor: pointer;
  }

  &__list {
    display: flex;
    list-style: none;
    gap: 24px;
    padding: 0;

    @include onPhoneAndTablet {
      display: none;
    }
  }

  &-logo {
    height: 50px;
    &__list {
      display: flex;
      align-items: center;
      list-style: none;
      gap: 10px;
      padding: 0;
    }

    &__main-container {
      display: flex;
      // align-items: center;
      gap: 24px;
      position: relative;
      z-index: 1000;
    }

    &-container {
      display: flex;
      align-items: center;
      gap: 22px;

      @include onPhoneAndTablet {
        display: none;
      }
    //   flex-direction: row;
    }
  }

  &__search {
    border: 1px solid $border-input-color;
    width: 314px;
    height: 48px;
    border-radius: 32px;

    @include onPhoneAndTablet {
      display: none;
    }
  }

  &__button {
    width: 201px;

    @include onPhone {
      display: none;
    }

    @include onTablet {
      width: 160px;
      background-color: #5d7570;
      color: #f4f6f3;
    }


    &-language {
      @extend %poppins-500;
      background: none;
      display: flex;
      gap: 10px;
      color: $header-title-color;
      align-items: center;
      border: none;
      font-size: 8px;

      &-img {
        width: 20px;
        height: 20px;
      }
    }

    &-log {
      @extend %poppins-700;
      line-height: 150%;
      font-size: 16px;

      &-mobile {
        @include onPhone {
          display: none;
        }

        @include onTablet {
          display: block;
        }

        @include onDesktop {
          display: none;;
        }
      }

      &-container {
        display: flex;
        align-items: center;
        gap: 8px;

        @include onPhone {
          display: none;
        }
      }
    }
  }
}