@import '../../styles/typography';
@import '../../styles/variables';
@import '../../styles/mixins';

.course {
  position: relative;
  // display: flex;
  // flex-wrap: wrap;
  // width: 100%;

  &-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;

    @include onPhone {
      gap: 8px;
    }
  }



  &__card {
    width: 652px;
    height: 443px;
    border-radius: 8px;
    background-color: $button-title-color;

    @include onPhone {
      height: 224px;
      width: 100%;
    }

    @include onTablet {
      // width: 288px;
      width: 100%;
      // max-width: 100%;
      height: 288px;
    }

    &-img {
      display: block;
      padding: 0;
      margin: 0;

      @include onPhone {
        height: 166px;
        max-width: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      @include onTablet {
        height: 238px;
        // width: 288px;
        max-width: 100%;
        object-fit: cover;
      }
    }

      &__title {
        @extend %poppins-500;
        line-height: 145%;
        font-size: 24px;
        color: $header-button-and-title-active-color;


        @include onPhone {
          padding: 8px;
        }

        @include onPhoneAndTablet {
          font-size: 14px;
        }

        @include onTablet {
          padding-bottom: 18px;
          padding-left: 24px;
          padding-top: 8px;
          font-size: 16px;
        }

        @include onDesktop {
          padding-left: 24px;
          padding-top: 24px;
          padding-bottom: 24px;
        }

        &-container {
          display: flex;
          align-items: center;
          width: 652px;
        //   height: 35px;
          text-align: start;

          @include onPhoneAndTablet {
            width: 100%;
          }
          
    
        //   padding: 24px;
        }
      }
  }
}