@import '../../styles/typography';
@import '../../styles/variables';
@import '../../styles/mixins';

.advantages {
  display: flex;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 80px;

  @include onPhoneAndTablet {
    display: none;
  }

  &_mobile {
    // display: none;
    // opacity: 0;

    @include onPhoneAndTablet {
      display: flex;
      gap: 16px;
      overflow: hidden;
      margin-bottom: 41px;
    }

    @include onDesktop {
      display: none;
    }

    &.scrollable {
      overflow-x: auto;
    }
  }

  &-picture {
    display: block;
    padding: 0;
    margin: 0;
  }

  &-img {
    // background-size: cover;
    width: 100%;

    @include onPhone {
      // min-height: 234px;
      // max-height: 100%;
      min-height: 234px;
      min-width: 234px;
      width: 100%;
      height: 100%;
      max-height: 257px;
      max-width: 388px;
      // object-fit: cover;
      // // object-fit: contain;
      // border-radius: 12px;
      // min-width: 234px;
      object-fit: cover;
    }

    @include onTablet {
      // min-height: 234px;
      // min-width: 234px;
      // width: 100%;
      // height: 100%;
      height: 257px;
      width: 388px;
      object-fit: cover;
      // max-width: 388px;
    }

    &-first {
      grid-column: 1 / 7;
      grid-row: 1 / 3;
    }

    &-second {
      grid-column: 7 / 13;
      grid-row: 1 / 2;
    }

    &-third {
      grid-column: 7 / 13;
      grid-row: 2 / 3;
    }
  }
}
